
/*universal setting*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: azure;
}

/*nav for all pages*/
nav {
    background-color: rgb(0, 0, 0);
}

nav a {
    text-decoration: none;
    color: white;
}

nav li {
    list-style: none;
    display: inline-block;
    padding: 20px 5%;
}
section {
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 0px 5%;
}

section .goals {
    margin-top: 30px;
}

section .education {
    margin-top: 30px;
}

section .jobs {
    margin-top: 30px;
}

section .hobbies {
    margin-top: 30px;
}

img {
    width: 200px;
}
